body {
  background: rgb(71, 171, 238);
  font-family: 'Noto Serif Toto', sans-serif;     
  height: 100vh;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background: rgb(71, 171, 238); 
  padding: 20px;
  border-radius: 10px;
}

#cityInput {
  padding: 8px;
  border: 1px solid gray;
  border-radius: 5px;
}

#searchBtn {
  padding: 8px 12px;
  color: white; 
  background:rgb(71, 171, 238);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#searchBtn:hover {
  background:rgb(68, 160, 235)
}
#weatherDisplay{
  margin-top: 15px;
  padding: 10px;
  background:rgb(71, 171, 238);
  border-radius: 8px;
  text-align: center
}
