body{
     font-family: 'amoera', sans-serif;
}
.navbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color:white;
    background-color: rgb(0, 116, 161);
}
.main-content{
    display:flex;
    flex-direction:coloumn;
    justify-content: space-around;
    width:100%;
    color: white;
    background-color: rgb(18, 146, 197);

}